version: '2'
services:
  deploy-board:
    build: .
    ports:
      - "8888:8888"
    #command: "python /opt/deploy-board/manage.py runserver 0.0.0.0:8888"
    #command: "/usr/local/bin/uwsgi --ini /opt/deploy-board/uwsgi.ini"
    volumes:
      - ".:/opt/deploy-board"
      - "./tmp/deploy_board:/tmp/deploy_board"
    environment:
      - PYTHONPATH=/opt/deploy-board/
      - SECRET_KEY=huang
      - LOG_DIR=/tmp/deploy_board
      - TELETRAAN_SERVICE_URL=http://10.16.18.46:8888
      - TELETRAAN_SERVICE_VERSI=v1
      - DASHBOARD_URL_ENDPOINT_FORMAT=
      - CMDB_API_HOST=
      - CMDB_INSTANCE_URL=
      - SERVICE_RATELIMIT_CONFIG_URL=
      - STATSBOARD_API_FORMAT=
      - RATELIMIT_ENABLED_METRIC_FORMAT=
      - ENABLING_SERVICE_RATELIMIT_URL=
      - KAFKA_MSGS_DELIVERED_METRIC=

